body {
    font-family: Arial, sans-serif;
    background-color: #2a84eb;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e27815;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #D2B48C;
    border-radius: 5px;
    background-color: #b3cf16;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D2B48C;
    border-radius: 5px;
}

button {
    background-color: #1100ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E63900;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #F0E68C;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}