body {
    font-family: Arial, sans-serif;
    background-color: #e9eff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color:#b0b0b0 ;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 360px;
    max-width: 100%;
}
.login-header {
    text-align: center;
    margin-bottom: 20px;
}
.login-header img {
    width: 150px;
}
.login-header h2 {
    margin: 10px 0;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group input[type="submit"] {
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.form-group input[type="submit"]:hover {
    background-color: #3578e5;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #3b5998;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}