



.texto1{
width:100%;
color: red;
font-size:15px;
text-aling:center;

}


.texto2{
width:100%;
color:00FF00;
font-size:18px;
text-aling: center;

}

.texto3{
width:100%;
color: blue;
font-size:19px;
text-aling: Justify;
}

.texto4{
width:100%;
color: black;
font-size:12px;
text-aling: Justify;
}