h1{
    font-family: Algerian;
    color: #ffffff;
}

body{
    background-color: blueviolet;
    color:#ffffff;
    text-align: justify;
    padding: 50px;
}

h2{
    font-family: Bradley Hand ITC;
}
