/* Estilo básico para la página de ordenar computadoras */

/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración del cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    line-height: 1.6;
    background-color: #f0f1f6; /* Fondo gris claro */
    color: #333;
}

/* Estilo para la cabecera */
header {
    background-color: #000000; /* Azul oscuro */
    color: #ecf0f1; /* Blanco claro */
    padding: 2rem 1rem;
    text-align: center;
    border-bottom: 5px solid #108ac2; /* Naranja más vibrante */
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem; /* Tamaño de fuente mayor */
}

header p {
    font-size: 1.1rem;
    margin: 0;
}

/* Estilo para las secciones */
section {
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Efecto de elevación al pasar el cursor */
}

section h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #2c3e50; /* Color de texto más oscuro */
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: 600; /* Negrita */
    color: #2c3e50;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 6px; /* Bordes más redondeados */
    font-size: 1rem;
}

form button {
    padding: 0.75rem;
    background-color: #f70000; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #ee0505; /* Naranja más oscuro */
    transform: scale(1.05); /* Efecto de ampliación */
}

/* Estilo para la lista de mensajes */
ul {
    list-style-type: none;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el pie de página */
footer {
    background-color: #2c3e50; /* Igual al color de la cabecera */
    color: #ecf0f1; /* Blanco claro */
    text-align: center;
    padding: 1.5rem 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
