body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #99c6c3;
}

.contenedor {
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form {
    background: rgb(55, 171, 192);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #153892;
    border-radius: 5px;
}

button {
    background-color: #69b1e9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3cc352;
}